.app {
  text-align: center;
}

.cats-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}