@font-face {
  font-family: 'Bigfat';
  font-style: normal;
  font-weight: 400;
  src: url('assets/font/Bigfat\ Script.ttf') format('truetype');
}

@font-face {
  font-family: 'Paper Daisy';
  font-style: normal;
  font-weight: 400;
  src: url('assets/font/paperdaisy-demo.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Paper Daisy', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightsteelblue;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}